<div class="bg-dark text-white text-center py-2">
  <div class="container">
    <p class="m-0">Copyright &copy;2025 UC Regents &nbsp;|&nbsp; Email us at <a style="color: #ddf" href="mailto:rdi@berkeley.edu">rdi@berkeley.edu</a>.</p>
  </div>
</div>
